/* Authors:
* Eyal Chachmishvily 209786094
* Idan Eliyahu 204174155
* Nadav Bitran Numa 325122075
*/

/* Styling for the card container */
.card {
  display: flex;   /* Display as flex container */
  flex-direction: column;   /* Arrange items vertically */
  border: 1px solid #ccc;   /* Border style */
  border-radius: .5rem;   /* Rounded corners */
  overflow: hidden;   /* Hide overflowing content */
  max-width: 300px;   /* Maximum width of the card */
  
  background-color: #cdf5fd;   /* Semi-transparent blue background */

  justify-self: center;   /* Align center horizontally */
}
  
/* Styling for the card image */
.card-image {
  width: 100%;   /* Full width */
  height: auto;   /* Maintain aspect ratio */
  object-fit: cover;   /* Scale and crop image */
}
  
/* Styling for the card content */
.card-content {
  padding: 1rem;   /* Padding around the content */
}
  
/* Styling for the card name */
.card-name {
  font-size: 1.2rem;   /* Font size */
  margin-bottom: .5rem;   /* Bottom margin */
  overflow: hidden;   /* Hide overflowing content */
  text-overflow: ellipsis;   /* Truncate text with ellipsis */
  max-height: 6.8em;   /* Maximum height for card name */
}
  
/* Styling for the card price */
.card-price {
  font-size: 1rem;   /* Font size */
  color: #888;   /* Gray color for price */
  margin-bottom: .5rem;   /* Bottom margin */
}

/* Styling for the card date */
.card-date {
  font-size: 0.9rem;   /* Font size */
  color: #777;   /* Dark gray color for date */
}
  
/* Styling for the card description */
.card-description {
  font-size: 1rem;   /* Font size */
  color: #555;   /* Dark gray color for description */
  line-height: 1.4rem;   /* Line height */
  overflow: hidden;   /* Hide overflowing content */
  text-overflow: ellipsis;   /* Truncate text with ellipsis */
  max-height: 6.8em;   /* Maximum height for card description */
  margin-bottom: 0;   /* Remove bottom margin */
}
