/* Authors:
* Eyal Chachmishvily 209786094
* Idan Eliyahu 204174155
* Nadav Bitran Numa 325122075
*/

/* Define custom color variables */
:root {
    --blue1-Clr: #00A9FF;   /* Primary blue color */
    --blue2-Clr: #89CFF3;   /* Light blue color */
    --blue3-Clr: #A0E9FF;   /* Pale blue color */
    --blue4-Clr: #CDF5FD;   /* Very light blue color */
}

/* Set the maximum height of the body to 100vh and remove deafult margin and padding */
body{
    max-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Set the maximum width of the container to 1440px */
.container{
    max-width: 1440px;
    margin-inline: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        max-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container{
        max-width: 550px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container{
        max-width: 580px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container{
        max-width: 750px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container{
        max-width: 980px;
    }
}


/* Styling for buttons */
button {
    width: 5.5rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    max-height: 2rem;
    background-color: var(--blue3-Clr);  /* Use the defined pale blue color */
}

/* Hover effect for buttons */
button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Styling for input fields */
input {
    padding-block: .5rem;
    padding-left: .5rem;
    border-radius: .5rem;
    min-width: 13rem;
    max-height: 2rem;
    border: none;
    outline: none;
}

/* Styling for select dropdowns */
select {
    padding-block: .5rem;
    padding-left: .25rem;
    border-radius: .5rem;
    min-width: 13.5rem;
    max-height: 2rem;
    border: none;
    outline: none;
}

/* Hover effect for select dropdowns */
select:hover {
    cursor: pointer;
}

/* Styling for error messages */
.errorMessage {
    color: red;
    font-size: .9rem;
}